@import "./reset.css";

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: CookieRun-Regular;
}

:root {
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */

  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl--line-height: 1; /* Assuming default line-height as 1 for larger sizes */

  --background: #ffffff;
  --foreground: #171717;
  --disabled: #B0B0B0;
  --primary-color: #89a45f;
  --secondary-color: #a2b38b;
  --olive-green: #e4e9be;
  --point-color: #e6ba95;
  --light-green: #fafdd6;

  --danger-color: #ce202f;
  --warning-color: #e67326;
  --caution-color: #ffd003;

  --base-white: #ffffff;
  --base-black: #000000;
}

.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.text-xs-b {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  font-weight: bold;
}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.text-sm-b {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: bold;
}

.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

.text-base-b {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: bold;
}

.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

.text-lg-b {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  font-weight: bold;
}

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.text-xl-b {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  font-weight: bold;
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

.text-2xl-b {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
  font-weight: bold;
}

.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

.text-3xl-b {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  font-weight: bold;
}

.text-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

.text-4xl-b {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
  font-weight: bold;
}

.text-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
}

.text-5xl-b {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
