.wrapper {
    width: 100%;
    height: 100%;
    
    max-width: 400px;

    padding-top: 3rem;
    padding-bottom: 6rem;
    
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 1rem;
}

.p_wrapper {
    padding: 0 1rem 3rem 1rem;

    display: flex;
    flex-direction: column;

    line-height: 1.5;

    gap: 0.8rem;
}

.p_round {
  width: 100%;

  padding: 0.5rem 1.5rem;

  border : 1px solid var(--secondary-color);
  border-radius: 1rem;
}

.button {
    width: 100%;

    padding: 1rem;

    border-radius: 0.5rem;

    background: var(--secondary-color);
    color: var(--light-green);

    text-align: center;

    box-sizing: border-box;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 0.5rem;
}

.button:hover {
    background: var(--primary-color);
}

.button:disabled {
    background: var(--disabled);
    color: var(--base-white);
}